#!/bin/bash  -xue

script_file=${BASH_SOURCE:-$0}
script_dir=$(readlink -f "$(dirname "${script_file}")")


##################################################################
##
##    Install Configurations
##
##################################################################


##################################################################
##
##    インストール先のマシンを識別する
##

source  "${script_file}/check-cluster.rc"


##################################################################
##
##    インストール先のディレクトリ名を決定。
##

share_install_root="${share_tools_dir}"
flag_install_to_common=${project_install_to_common:-'false'}
if [[ "X${flag_install_to_common}Y" = 'XtrueY' ]] ; then
    # このパッケージはアーカイブを展開するだけなので、
    # アーキテクチャごとに分けずに common に纏める。
    share_install_root="${share_commonos_tools_dir}"
fi

build_base_dir="${share_install_root}/binaries/${project_name}/builds"
install_base_dir="${share_install_root}/binaries/${project_name}"
src_package_dir="${share_root_dir}/Tools/packages/${project_name}"
